{% extends 'layout.html' %}

{% block script %}

<meta id="is_admin" data-admin="{{ is_admin }}">

<script>
    var is_admin = $('#is_admin').data("admin");
    var users_data = null

    function refreshVideos(username) {
        $.ajax({
            url: '/API/' + username + '/videos/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data)

                // Clearing user videos table
                $('#videos_menu1').empty();
                // Adding videos to videos table
                data["user_videos"].forEach(v => {
                    $('#videos_menu1').
                        append('<a class="item" href="/videos/' + v["id"] + '">' + v["desc"] + '</a>');
                });

                // Clearing other users' videos table
                $('#videos_menu2').empty();
                // Adding videos to videos table
                data["other_users_videos"].forEach(v => {
                    $('#videos_menu2').
                        append('<a class="item" href="' + v["url"] + '">' + v["desc"] + '</a>');
                });
            },
        });
    }

    function addNewVideo(url, desc, username) {
        let video_data = { 'url': url, 'desc': desc }
        $.ajax({
            url: '/API/' + username + '/videos/',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(video_data),
            success: function (data) {
                console.log(data)
                if (data["video_id"] == null) {
                    console.log("E      Video couldn't be added to the database".red)
                }
                else {
                    console.log("I      Video with ID " + data["video_id"] + " was successfuly added to the database")
                    refreshVideos("{{ username }}")
                    $("#url_input").val("")
                    $("#desc_input").val("")
                }
            },
        })
    }

    function getUsers4Dropdown() {
        $.ajax({
            url: '/API/users/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);

                $("#user_dropdown_menu").empty();
                data["users"].forEach(v => {
                    $("#user_dropdown_menu").
                        append('<div class="item" data-value="' + v["username"] + '">' + v["name"] + '</div>');
                });

                $('.ui.dropdown').dropdown();
                users_data = data["users"];
            },
        });
    }

    function drawPlot(stats) {
        var username = stats["username"];
        var idx = users_data.findIndex(user => user.username === username);
        var name = users_data[idx].name;

        var x_data = ['Views', 'Videos posted', 'Questions made', 'Answers given'];
        var y_data = [stats["views"], stats["videos"], stats["questions"], stats["answers"]]

        var trace = {
            type: 'bar',
            x: x_data,
            y: y_data,
            marker: {
                color: '#C8A2C8',
                line: {
                    width: 2.5
                }
            }
        };

        var data = [trace];

        var layout = {
            title: 'Stats for ' + name + ' (username ' + username + ')',
            font: { size: 10 }
        };

        var config = { responsive: false }

        Plotly.newPlot('user_stats_plot', data, layout, config);
    }

    function getUserStats(username) {
        $.ajax({
            url: '/API/' + username + '/stats/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                drawPlot(data);
            },
        });
    }

    $(document).ready(function () {
        refreshVideos('{{ username }}')

        if (is_admin) {
            getUsers4Dropdown();
        }

        $("#update_videos_button").click(function () {
            refreshVideos('{{ username }}')
        });

        $("#new_video_button").click(function () {
            url = $("#url_input").val()
            desc = $("#desc_input").val()
            if (url == "" || desc == "") {
                console.log("W      One of the fields is empty. Check which one and try again!")
            }
            else {
                addNewVideo(url, desc, "{{ username }}")
            }
        });

        $("#select_user_button").click(function () {
            if (is_admin) {
                user_selected = $("#user_dropdown").dropdown('get value');
                getUserStats(user_selected);
            }
            else {
                console.log("E      Can't see user stats since ")
            }
        });
    });
</script>

{% endblock %}

{% block body %}

<body>
    <h1>VQA By Joana</h1>

    <h2>Videos posted</h2>
    <p>Select the video you want to watch!</p>

    <h3>Your videos</h3>
    <div class="ui fluid vertical menu" id="videos_menu1">
    </div>

    <h3>Other users' videos</h3>
    <div class="ui fluid vertical menu" id="videos_menu2">
    </div>

    <button class="ui button" id="update_videos_button">
        Update videos
    </button>

    <h3>Add a new video</h3>
    <div class="ui input">
        <input type="text" placeholder="URL" id="url_input">
    </div>
    <div class="ui input">
        <input type="text" placeholder="Description" id="desc_input">
    </div>
    <button class="ui button" id="new_video_button">
        Add video
    </button>

    <br><br>

    {% if is_admin %}

    <h2>Admin options</h2>

    <h3>View user stats</h3>

    <p>Select user: </p>
    <div class="ui selection dropdown" id="user_dropdown">
        <input type="hidden" name="user">
        <i class="dropdown icon"></i>
        <div class="default text">Select user</div>
        <div class="scrollhint menu" id="user_dropdown_menu">
        </div>
    </div>
    <button class="ui button" id="select_user_button">
        Select
    </button>

    <div id="user_stats_plot"></div>

    {% endif %}

</body>

{% endblock %}