{% extends 'layout.html' %}

{% block script %}

<script>
    function getVideos(username) {
        $.ajax({
            url: '/API/' + username + '/videos/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data)

                // Clearing user videos table
                $('#videos_menu1').empty();
                // Adding videos to videos table
                data["user_videos"].forEach(v => {
                    $('#videos_menu1').
                        append('<a class="item" href="' + v["url"] + '">' + v["desc"] + '</a>');
                });

                // Clearing other users' videos table
                $('#videos_menu2').empty();
                // Adding videos to videos table
                data["other_users_videos"].forEach(v => {
                    $('#videos_menu2').
                        append('<a class="item" href="' + v["url"] + '">' + v["desc"] + '</a>');
                });
            },
        })
    }

    $(document).ready(function () {
        getVideos('{{ username }}')

        $("#update_videos_button").click(
            function(){
                getVideos('{{ username }}')
            }
        )
    });
</script>

{% endblock %}

{% block body %}

<body>
    <h1>VQA By Joana</h1>

    <h2>Videos Posted</h2>
    <p>Select the video you want to watch!</p>

    <h3>Your Videos</h3>
    <div class="ui fluid vertical menu" id="videos_menu1">
    </div>
    <br>

    <h3>Other Users' Videos</h3>
    <div class="ui fluid vertical menu" id="videos_menu2">
    </div>
    <br>

    <button class="ui button" id="update_videos_button">
        Update videos
    </button>
    <br>

    {% if is_admin %}

    <p>You are an Admin!</p>

    {% else %}

    <p>You're not an admin... :(</p>

    {% endif %}

</body>

{% endblock %}