{% extends 'layout.html' %}

{% block script %}

<meta id="logged_in" data-logged="{{ logged_in }}">

<script>
	var logged_in = $('#logged_in').data("logged");

	$(document).ready(function () {
		$("#dashboard_button").click(
			function () {
				window.location.href = "{{ url_for('Dashboard') }}";
			}
		)

		$("#logout_button").click(
			function () {
				window.location.href = "{{ url_for('LogOut') }}";
			}
		)

		$("#login_button").click(
			function () {
				window.location.href = "{{ url_for('fenix-example.login') }}";
			}
		)

		if (logged_in == "True") {
			$('body').toast({
				class: 'success',
				title: "You're logged in!",
				message: "You've successfully logged in with your Fénix account",
			});
		}
	});
</script>

{% endblock %}

{% block body %}

<body>
	<h1>Welcome to VQA By Joana</h1>

	{% if logged_in %}

	<button class="ui button" id="dashboard_button">Go to dashboard</button>
	<br>
	<br>
	<button class="ui button" id="logout_button">Log out</button>

	{% else %}

	<button class="ui button" id="login_button">Log in using Fénix</button>

	{% endif %}

</body>

{% endblock %}